body {
	background-color: #f4f6f8;
}
.mc01MP {
	display: block;
    box-sizing: inherit;
    width: 100%;
    margin: 0px auto;
    padding: 0px 3.2rem;
}
.mt01D {
	margin-top: 20px;
}
.Polaris-Subheading {
	margin-bottom: 10px !important;
}
.Polaris-TextField {
	margin-bottom: 10px !important;
}
.section__disabled {
	background-color: #f4f5fa;
}